.range-slider-base {
    position: relative;

    width: 200px;
    height: 10px;
    margin-top: 40px;
    margin-bottom: 20px;

    background-color: lightgrey;
}

.range-slider-handle-left, .range-slider-handle-right {
    position: absolute;
    top: -5px;

    width: 20px;
    height: 20px;
    box-shadow: 0 0 0 1px #888888   ;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    background-color: #aaaaaa;
}

.range-slider-handle-left {
    left: 0;
}

.range-slider-handle-right {
    right: 0;
}

.range-slider-caption {
    position: relative;
    top: -20px;

    font-size: 12px;
}
