{% extends "base.html" %}
{% block content %}
    {% for entry in entries %}
        <a href="{{ url_for('post', post_id=loop.index) }}">
            <h3>{{ entry.title }}</h3>
        </a>
        <p>{{ entry.abstract }}</p>
    {% endfor %}

    <hr>

    <h2>Добавить пост</h2>
    <form method="post" action="{{ url_for('new_post') }}">
        <label>
            Заголовок поста:
            <br>
            <input type="text" name="title">
        </label>
        <br>
        <label>
            Краткое содержание:
            <br>
            <textarea name="abstract"></textarea>
        </label>
        <br>
        <label>
            Сам пост:
            <br>
            <textarea name="content"></textarea>
        </label>
        <br>
        <input type="submit" value="Отправить">
    </form>
{% endblock %}
