{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'lessons/normalize.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'lessons/foundation.min.css' %}" />

<script src="{% static 'lessons/modernizr.js' %}"></script>

<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="{% url 'index' %}">Учебник Питона</a></h1>
    </li>
  </ul>
</nav>

<div class="row">
  <div class="small-0 large-1 columns"></div>
  <div class="small-12 large-10 columns">
    {% block content %}
    {% endblock %}
  </div>
  <div class="small-0 large-1 columns"></div>
</div>

<script src="{% static 'lessons/jquery.js' %}"></script>
<script src="{% static 'lessons/foundation.min.js' %}"></script>
<script>
    $(document).foundation();
</script>

{% block scripts %}
{% endblock %}