{% extends "base.html" %}

{% block content %}
<a href="{% url 'lesson' problem.lesson.id %}">Урок {{ problem.lesson.id }}: {{ problem.lesson.title }}</a>

<h1>Задача "{{ problem.title }}"</h1>

{{ problem.statement|safe }}

<form action="{% url 'send_submission' problem.id %}" method="post">
    {% csrf_token %}
    <textarea name="source" cols="100" rows="10">
def action(...):
    return ...
    </textarea>
    <input type="submit" class="button" value="Отправить на проверку">
</form>

<table border="1">
    <tr>
        <th>#</th>
        <th>Код</th>
        <th>Статус</th>
        <th>Комментарий</th>
    </tr>
    {% for submission in problem.submission_set.all %}
    <tr>
        <td>{{ submission.id }}</td>
        <td><pre>{{ submission.code }}</pre></td>
        <td>{{ submission.get_status_display }}</td>
        <td>{{ submission.info }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
